# dependencies
/node_modules
/.pnp
.pnp.js
coverage

# testing
/cypress/videos
/cypress/screenshots

# production
/.next
/out
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# SQLite local databases
*.db
*.db-journal
*.db-shm
*.db-wal

/src/generated/prisma

# Uploads & Temp Data
data/uploads/*
uploads/*
!uploads/.gitkeep
tessdata/
temp/
scratch/
*.log
.turbo/
*.bak
*.old

